{% extends 'index.html.twig' %}

{% block code %}
{% verbatim %}
    {% set users = range(1,10) %}
    <p>
    {% if online == false %}
        <p>Our website is in maintenance mode. Please, come back later.</p>
    {% endif %}
    </p>
        <p>
        {% if 'Fabien' starts with 'F' %}
            {{ 'f' }}
        {% endif %}

        {% if 'Fabien' ends with 'n' %}
            {{ 'n' }}
        {% endif %}
    </p>
    <p>
    {% if users %}
        <ul>
            {% for user in users %}
                <li>{{ user|e }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </p>
    <p>
    {% if not user.subscribed %}
        <p>You are not subscribed to our mailing list.</p>
    {% endif %}
    </p>
    <p>
    {% set temperature = 25 %}
    {% if temperature > 18 and temperature < 27 %}
        <p>It's a nice day for a walk in the park.</p>
    {% endif %}
    </p>
    <p>
        {% if kenny.sick %}
            Kenny is sick.
        {% elseif kenny.dead %}
            You killed Kenny! You bastard!!!
        {% else %}
            Kenny looks okay --- so far
        {% endif %}
    </p>
{% endverbatim %}
{% endblock code %}

{% block sample %}
    {% set users = range(1,10) %}
    <p>
    {% if online == false %}
        <p>Our website is in maintenance mode. Please, come back later.</p>
    {% endif %}
    </p>
    <p>
        {% if 'Fabien' starts with 'F' %}
            {{ 'f' }}
        {% endif %}

        {% if 'Fabien' ends with 'n' %}
            {{ 'n' }}
        {% endif %}
    </p>
    <p>
    {% if users %}
        <ul>
            {% for user in users %}
                <li>{{ user|e }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </p>
    <p>
    {% if not user.subscribed %}
        <p>You are not subscribed to our mailing list.</p>
    {% endif %}
    </p>
    <p>
    {% set temperature = 25 %}
    {% if temperature > 18 and temperature < 27 %}
        <p>It's a nice day for a walk in the park.</p>
    {% endif %}
    </p>
    <p>
        {% if kenny.sick %}
            Kenny is sick.
        {% elseif kenny.dead %}
            You killed Kenny! You bastard!!!
        {% else %}
            Kenny looks okay --- so far
        {% endif %}
    </p>
{% endblock sample %}
